/* arrow */
:root {
  --arrow-length: 4px;
  --arrow-minus: calc(var(--arrow-length) * -1);
  --arrow: calc(var(--arrow-length) * 3);
}
.line2 {
  width: 40px;
  height: 3px;
  background-color: blueviolet;
  float: left;
  transition: ease 150ms;
}
.triangle {
  position: relative;
  float: left;
  margin-left: -8px;
}
.triangle .line2 {
  transform: rotate(45deg);
  width: var(--arrow);
  position: absolute;
  top: -3px;
}
.triangle .bottom {
  transform: rotate(-45deg);
  top: 3px;
}

.framed {
  flex-grow: 1;
  background-image: linear-gradient(135deg, blueviolet 50%, transparent 51%);
  @media (max-width: 1200px) {
    display: none;
  }
  a {
    display: block;
    border: 3px solid blueviolet;
    max-width: 200px;
    min-width: 160px;
    padding: 32px 26px;

    text-decoration: none;
  }
  a h6 {
    text-decoration: none !important;
  }
  &:hover {
    h6 {
      color: white;
    }
    .main-line {
      width: 140px;
      transition: ease 350ms;
    }
    .line2,
    .main-line {
      background-color: white;
    }
  }
  img {
    width: 40px;
  }
  &.right {
    text-align: right;
    margin-right: 16px;
  }
  &:not(.right) {
    margin-left: 16px;
  }
}
