$red: #fd5278;
$blue: #65ffeb;
$purple: #7b50fb;
$black: black;
$yellow: #ce7300;
//var--(blue)
//color: var(--#{$color});
//{$name}

$colors: (
  'red': #fd5278,
  'blue': #65ffeb,
  'purple': #7b50fb,
  'black': black,
  'yellow': #ce7300,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
}

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }
}

.bg-black {
  color: white;
}
.bg-white {
  background-color: white;
}

.inverted {
  filter: invert(1);
}

.bg-grad-gray {
  background-image: linear-gradient(white, #f3f3f3);
}

.filter-purple {
  filter: brightness(0) invert(34%) sepia(27%) saturate(6791%)
    hue-rotate(241deg) brightness(99%) contrast(98%);
}
.filter-red {
  filter: brightness(0) invert(38%) sepia(99%) saturate(1312%)
    hue-rotate(334deg) brightness(100%) contrast(103%);
}
.filter-pink {
  filter: brightness(0) invert(39%) sepia(30%) saturate(3169%)
    hue-rotate(294deg) brightness(81%) contrast(92%);
}
.filter-black {
  filter: brightness(0);
}
.filter-white {
  filter: brightness(0) invert(1);
}
