/* huge menu */
.menu-full {
  position: absolute;
  height: calc(100vh - 16px);
  z-index: -2;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(45deg, blueviolet, red);
  z-index: 2;
  place-items: stretch;
  padding: 8px;
  position: fixed;
  top: 0;
  width: calc(100vw - 32px);
  left: -2000px;
  transition: 350ms ease;
  &.open {
    left: 0px;
    transition: 350ms ease;
  }
}
.menu-full a,
.menu-full .colorful {
  display: block;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  max-width: calc(25% - 96px);
  padding: 24px;
  text-decoration: none;
  align-self: stretch;
  justify-content: space-between;
  min-width: 160px;
  max-width: 200px;
  border: 4px red dashed;
  background-color: transparent;
  // background: repeating-linear-gradient(45deg, blueviolet, red);
}
.menu-full a h6 {
  text-decoration: none;
  padding-bottom: 12px;
  color: black;
}
