/* side menu */

:root {
  --menu-width: 60px;
}
.side {
  position: fixed;
  top: 0px;
  height: 100vh;
  background-image: -webkit-linear-gradient(top, #f44, blueviolet);
  color: white;
  width: var(--menu-width);
  z-index: 2;
}
.side-inner {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 16px);
  align-content: space-between;

  img {
    height: 32px;
    width: 40px;
    object-fit: contain;
    margin: 10px;
  }
  .inner-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      margin-bottom: 16px;
    }
    .vertical {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-size: 12px;
      margin-top: 12px;
      overflow: hidden;
      min-height: 200px;
      width: 31px;
      position: relative;
      .page-name {
        position: absolute;
        left: -50px;
        transition-duration: 400ms;
        &.visible {
          left: 0;
          transition-duration: 400ms;
        }
      }
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
}

.side-bottom {
  width: var(--menu-width);
  .side-item:hover .hidden {
    margin-left: 0;
  }
  .menu-image {
    width: var(--menu-width);
    height: 52px;
    img {
      height: 32px;
      width: 40px;
      object-fit: contain;
      margin: 10px;
    }
  }
  .hidden {
    font-size: 12px;
    letter-spacing: 0.4px;
    width: 280px;
    padding-left: 8px;
    position: absolute;
    left: 60px;
    margin-left: -500px;
    transition: ease 750ms;
    z-index: -2;
    p {
      margin: 0;
      line-height: 1.2;
    }
    .hidden-in {
      background-color: white;
      padding: 12px 18px;
      border-radius: 8px;
    }
  }
}
