.content {
  width: calc(100vw - 60px);
  padding-left: 60px;
  //background-image: -webkit-linear-gradient(top, #f44, blueviolet);
}

.full {
  min-height: calc(60vh - 32px);
  padding: 16px;
  padding-top: 80px;
  background-color: white;
  //background-image: -webkit-linear-gradient(top, #f44, blueviolet);
  //background: radial-gradient(blueviolet, transparent);
  //background-image: radial-gradient(circle at top left, #f44, blueviolet 75%);
}

section {
  padding: 16px;
  padding: 96px 16px;
}

.center {
  text-align: center;
}
/* flex, columns */

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-center-hor {
  display: flex;
  align-items: center;
}

.column {
  flex: 1;
  margin: 8px;
}

.space {
  height: 200px;
}
.image {
  margin-bottom: 16px;
}
img {
  width: 100%;
}

.panorama {
  margin-bottom: -12px;
  //background-color: #73ca00;
}
