@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.4px;
  background-color: #f3f3f3;
  /*background: repeating-linear-gradient(0deg, #f3f3f3, white 4px);*/
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}

li {
  list-style: decimal;
}

i {
  color: blueviolet;
}

a {
  color: blueviolet;
  text-decoration: underline;
}

b {
  font-weight: 800;
  letter-spacing: 0.8px;
}

.violet {
  color: blueviolet;
}

p {
  font-weight: 600;
  line-height: 1.4;
  @media (max-width: 600px) {
    font-size: 11px;
  }
}

h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 4px;
  @media (max-width: 600px) {
    font-size: 42px;
  }
}

h2 {
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 1px;
  font-weight: 800;
  @media (max-width: 600px) {
    font-size: 32px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  @media (max-width: 600px) {
    font-size: 18px;
  }
}

h4 {
  color: blueviolet;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}
h5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: underline;
  line-height: 1.6;
  font-weight: 600;
  font-size: 12px;
}
h6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 10px;
  text-decoration: none;
  line-height: 1.8;
}

p,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 24px 0;
  max-width: 800px;
}

em {
  color: blueviolet;
}

.main-text p,
blockquote {
  line-height: 1.8;
  font-weight: 400;
  font-family: 'Noto Serif';
}

blockquote {
  border-left: 3px solid blueviolet;
  padding-left: 24px;
  line-height: 1.8;
  font-weight: 300;
  font-style: italic;
  color: #585858;
}

.divider {
  margin: 48px 0;
  width: 60px;
  height: 4px;
  background-color: blueviolet;
  &.center {
    margin: 48px auto;
  }
}
